<div class="row col-sm-7" style="margin-left: 20%">
        <table style="border-color: black; height: 60px; width: 500px; margin-left: 10%"
            class="table table-bordered col-sm-10">
            <td>
                <div class="col-sm-10" style="margin-top: 0%; margin-left: 10%">
                    <table style="border-color: black; height: 30px; width: 30px;"
                        class="table table-bordered col-sm-5">
                        <h3 align="center" style=" background-color: #7c0000; color: white;padding: 3%;">
                            ข้อมูลนิสิต</h3>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                Select file to upload:
                                <input type="file" name="fileToUpload" id="fileToUpload">
                                <input type="submit" value="Upload File" name="submit">
                            </form>
                    </table>
                </div>
            </td>
        </table>
    </div>
