@font-face{
    font-family: myfont;
    src: url("./fonts/taluew.ttf");
}
@font-face{
    font-family: myfontB;
    src: url("./fonts/THSarabunNew Bold.ttf");
}
*{
    font-family: myfont;
}

.myLogo{
    height:100%;
}

.big-con{
    width: 100vw;
    height: 100vh;
    min-width: 1100px;
    display: flex;
}
.left-con{
    width: 50%;
    height: 100%;
}
.right-con{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-con{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background: #7C0000;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.uinput{
    width: 80%;
    height: 8%;
    display: flex;
    background: white;
}
.logo-con{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-con{
    width: 80%;
}
.text-con{
    height: 30%;
    width: 100%;
}
.btn-con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    .left-con{
        display: none;
    }
    .right-con{
        width: 80%;
    }
}