@font-face{
    font-family: myfont;
    src: url("./fonts/taluew.ttf");
}
@font-face{
    font-family: myfontB;
    src: url("./fonts/THSarabunNew Bold.ttf");
}
*{
    font-family: myfont;
}

.mycon{
    width: 100vw;
    height: 100vh;
    min-width: 1420px;
    min-height: 700px;
}

.mynav{
    height: 10%;
    background-color: #710000;
    color: white; 
}

.left-con{
    height: 100%;
    width: 18%;
}

.left-con img{
    height: 80%;
}

.mybody{
    height: 80%;
}

.myfooter{
    height: 10%;
    background-color: #000000;
    color: white; 
}
.body-left{
    width: 18%;
    height: 100%;
    background-color: #710000;
}
.body-right{
    height: 100%;
    width: 82%;
    background-image: url("./recourses/BG.png");
    background-size: 100%;
}

.box{
    width: 80%;
    height: 15%;
    border-bottom: 0.05em solid #ffffff;
    text-decoration: none;
}

.box-icon{
    width: 25%;
    height: 100%;
}

.box-icon img{
    height: 40%;
}

.box-text{
    width: 75%;
    height: 100%;
}

.body-left h3{
    color:white;
}